.nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.nav a,
.nav button{
    background: #F4F6F6;
    border-radius: .2rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus{
    background: #102542;
    box-shadow: 0 0 0 1px #FCB8B1;
    border-color: #F97162;
    outline: none;
}

.icon{
    width: 18px;
    height: 18px;
}

.nav a.active{
    background: #102542;
    box-shadow: 0 0 0 1px #FCB8B1;
    border-color: #F97162;
}

.mobileButton{
    background: #F4F6F6;
    border-radius: .2rem;
    width: 40px;
    height: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;
    
}

.mobileButton::after{
    content: '';
    display: block;
    width: 1.2rem;
    height: 2px;
    border-radius: 2px;
    background: currentColor;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: 0.2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
    outline: none;
    background: #102542;
    box-shadow: 0 0 0 1px #FCB8B1;
    border-color: #F97162;
    color:#F97162;
}

.mobileButtonActive::after{
    transform: rotate(-90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;

}

.navMobile{
    display: block;
    position: absolute;
    top: 70px;
    right: 0px;
    padding: 0 1rem;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border-radius: .2rem;
    transform: translateX(-10px );
    opacity: 0;
    pointer-events: none;
}

.navMobileActive{
    transition: .3s;
    transform: initial;
    opacity: 1;
    z-index: 100;
    pointer-events: initial;
}

.navMobile a,
.navMobile button {
    display: flex;
    align-items: center;
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    padding: .5rem 0;
    cursor: pointer;
}

.navMobile a:hover,
.navMobile button:hover {
     color: #102542;
}


.navMobile button{
    border: none;
}

.navMobile svg{
    margin-right: 0.5rem;
}