.nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.nav a,
.nav button{
    background: #F4F6F6;
    border-radius: .2rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus{
    background: #102542;
    box-shadow: 0 0 0 1px #FCB8B1;
    border-color: #F97162;
    outline: none;
}

.icon{
    width: 18px;
    height: 18px;
}

.nav a.active{
    background: #102542;
    box-shadow: 0 0 0 1px #FCB8B1;
    border-color: #F97162;
}