.header{
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fdffff;
    top: 0px;
}

.logoAnimal{
    width: 100px;
    height: 100px;
}

.nav{
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 0.5rem 0;
}

.login{
    display: flex;
    align-items: center;
    color: #333;
    
}

.login::after{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../Assets/login.svg') no-repeat center center;
    margin-left: 0.5rem;
}